*.dSYM
*.gcda
*.o
*.plist
.deps
.dirstamp
.DS_Store
aclocal.m4
ag
ag.exe
autom4te.cache
cachegrind.out.*
callgrind.out.*
clang_output_*
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gmon.out
install-sh
Makefile
Makefile.in
missing
src/config.h*
stamp-h1
tests/*.err
tests/big/*.err
tests/big/big_file.txt
the_silver_searcher.spec
# The following are for Windows/Visual C++ builds
*.lib
*.log
*.pdb
config.*.bat
ARM/
DOS/
IA64/
WIN32/
WIN64/
WIN95/
bin/
lib/
list/
obj/
