*.dSYM
*.o
*.plist
.deps
.dirstamp
.DS_Store
aclocal.m4
ag
autom4te.cache
cachegrind.out.*
callgrind.out.*
clang_output_*
compile
config.log
config.status
configure
depcomp
gmon.out
install-sh
Makefile
Makefile.in
missing
src/config.h*
stamp-h1
the_silver_searcher.spec