*.dSYM
*.o
.deps
.dirstamp
aclocal.m4
ag
autom4te.cache
cachegrind.out.*
callgrind.out.*
config.log
config.status
configure
depcomp
gmon.out
install-sh
Makefile
Makefile.in
missing
src/config.h*
stamp-h1
