body {
  background: #fff;
  font-family: georgia, times, serif;
  font-size: 125%;
  color: #000;
  margin: 10px;
  max-width: 40em;
}
a,
a:link {
  color: #55b;
  text-decoration: none;
}
a:visited {
  color: #88b;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #aaa;
}
hr {
  height: 1px;
  background-color: #000;
  border: 0;
}
p {
  margin-left: 1em;
  padding: 0.5em;
}
ul {
  padding: 1em;
  list-style: none;
  line-height: 150%;
}
li {
  background-color: #eee;
  margin-bottom: 1.5em;
  padding: 0.5em;
}