*.obj
*.dll.manifest
*.dll
*.exe.manifest
*.exe
*.lib
*.pdb
*.ilk
*.exp
version.res
tests/*.pass
tests/*.bench
tests/pthread.h
tests/sched.h
tests/semaphore.h
tests/benchlib.o
tests/SIZES.*
tests/*.log